<%- include('header'); %>

<%if(pageType == 'about'){%>

<section class="page-header"
    style="background: url('/images/exceptHome-Images/about2.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;"
    alt="Photo by Tara Winstead: https://www.pexels.com/photo/wood-glass-blur-creativity-6694182/">

    <div class="heading-container">
        <div class="heading">
            <h1>About us</h1>
        </div>
    </div>

</section>

<section id="about">
    <div class="about-container">
        <div class="about-inner">
            <div class="about-img">
                <img src="/images/SDS_Gen-Pics.webp" alt="">
            </div>

            <div class="about-text" style="color: black; width: 40rem; line-height: 2;">
                <h1 style="font-weight: 600; padding: 0 0 1rem;">Dr. Snigdhodip Saha</h1>
                <p>This is Dr.Saha's multispeciality homeopathy & cosmetology welcoming you to the world of best
                    homeopathy doctor in
                    kolkata. Our chief consultant Dr.Snigdhodip Saha is one of the best homeopathy doctor
                    practicing homeopathy for
                    last 10 years, has seen many critical & incurable cases which has been solved with a few drops of
                    homeopathic medicines.
                    We are also specialised in different
                    types of hair re-growth treatment. So, we welcome you to come and get treated by the best homeopathy
                    and cosmetology doctor in
                    kolkata.</p>
            </div>
        </div>
    </div>
</section>

<section id="whyus" style="color: black; background: #CFB997;">
    <div class="whyus-container">
        <div class="whyus-inner">
            <div class="whyus-heading">
                <h1>Why us?</h1>
            </div>

            <div class="reasons">
                <ul class="reason-list" style="margin: 0;">
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p class="reason-para" style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">
                            We use over 2000 newly invented
                            Homeopathic
                            medicines
                            that works
                            faster & better</p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p class="reason-para" style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">No food
                            restriction</p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p class="reason-para" style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Hitech modern
                            homeopathy clinic
                            where technology meets holistic medical science</p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p class="reason-para" style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Doctor
                            availability over phone
                            after clinic hours</p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p class="reason-para" style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Very useful
                            for modern day fast
                            lifestyle</p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p class="reason-para" style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Online
                            consultation option</p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p class="reason-para" style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">No side
                            effect</p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p class="reason-para" style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Computerized
                            medicine & potency
                            selection by Doctor</p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p class="reason-para" style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Prescriptions
                            with clearly
                            mentioned homeopathic medicines names for transparency</p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p class="reason-para" style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Doorstep
                            medicine delivery</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section id="homeopathy-treatment" style="color: black;">
    <div class="whyus-container">
        <div class="whyus-inner">
            <div class="whyus-heading">
                <h1>Get best Homeopathy treatment for</h1>
            </div>

            <div class="reasons">
                <ul class="reason-list treatment-list" style="margin: 0;">
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">
                            Alopecia</p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Skin diseases</p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Male and Female pattern baldness
                        </p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Skin lightening</p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Hairfall control</p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Skin hydration</p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Hair Regrowth treatment</p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Skin glow</p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Dandruff control</p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Acne spot & scar removal</p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Male sexual problems</p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Stretch mark removal</p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Infertility</p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Antiaging treatment</p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Gastric troubles
                        </p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Female diseases
                        </p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Urinery troubles
                        </p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Polycystic ovary
                        </p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Joint pain & artheritis
                        </p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Thyroid disorder
                        </p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Hypertension & High cholesterol
                        </p>
                    </li>
                    <li style="display: flex; align-items: center; justify-content: center; gap: 0.5rem;"><i
                            style="font-size: 1.5rem;" class="fa-solid fa-check-double"></i>
                        <p style="width: 35rem; font-size: 1.05rem; line-height: 1.5;">Child health</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section id="org" style="color: black; background: #CFB997; margin-bottom: 7rem;">

    <div class="org-container">
        <div class="org-inner">
            <div class="org-members">
                <div class="member-icon" style="padding-bottom: 1rem;"><i class="fa-solid fa-people-group"
                        style="font-size: 3rem;"></i></div>

                <h2 style="padding-bottom: 1.5rem;">Members</h2>
                <ul class="member-list" style="padding: 0; margin: 0;">
                    <li>
                        <p style="width: 25rem;"><span style="font-weight: 600; color: black;">Founder</span> -
                            Dr.Sailendra Kumar
                            Saha</p>
                    </li>
                    <li>
                        <p style="width: 25rem;"><span style="font-weight: 600; color: black;">Consultant Doctor</span>
                            -
                            Dr.Snigdhodip Saha</p>
                    </li>
                    <li>
                        <p style="width: 25rem;"><span style="font-weight: 600; color: black;">Visiting
                                Physician</span> -
                            Dr.Sisirendra Kumar Saha
                        </p>
                        <p style="padding-left: 10rem;">Dr.Sunanda Saha</p>
                    </li>
                    <li>
                        <p style="width: 25rem;"><span style="font-weight: 600; color: black;">Medical Board</span> -
                            Dr.Snigdhodip
                            Saha
                        </p>
                        <p style="padding-left: 8.4rem;">Dr.Sisirendra Kumar Saha
                        </p>
                        <p style="padding-left: 8.4rem;">Dr.Sunanda Saha</p>
                    </li>
                </ul>
            </div>

            <div class="equipments">
                <div class="member-icon" style="padding-bottom: 1rem;"><i class="fa-solid fa-syringe"
                        style="font-size: 3rem;"></i>
                </div>
                <h2 style="padding-bottom: 1.5rem;">Equipments</h2>
                <ol class="member-list equipment-list" style="margin: 0; padding: 0.85rem;">
                    <li style="list-style-type: style;">
                        <p>Dermastamp Technology from Japan for hair regrowth & skin beautification</p>
                    </li>
                    <li style="list-style-type: style;">
                        <p>Laser Machine for hair fall control</p>
                    </li>
                    <li style="list-style-type: style;">
                        <p>Electro led microscope for computerised hair & skin testing</p>
                    </li>
                    <li style="list-style-type: style;">
                        <p>Micro needle therapy</p>
                    </li>
                    <li style="list-style-type: style;">
                        <p>Trichoscope</p>
                    </li>
                    <li style="list-style-type: style;">
                        <p>Dermatoscope</p>
                    </li>
                    <li style="list-style-type: style;">
                        <p>Otoscope</p>
                    </li>
                    <li style="list-style-type: style;">
                        <p>Respirometer</p>
                    </li>
                    <li style="list-style-type: style;">
                        <p>Lung Exerciser</p>
                    </li>
                </ol>
            </div>
        </div>
    </div>

</section>
<%}else if(pageType == 'homeopathy'){%>

<section class="page-header"
    style="background: url('/images/exceptHome-Images/homeopathy.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;"
    alt="Photo by Tara Winstead: https://www.pexels.com/photo/glass-health-medicine-treatment-6693901/">

    <div class="heading-container">
        <div class="heading">
            <h1>Homeopathy</h1>
        </div>
    </div>

</section>


<section id="about" style="background: #CFB997;">
    <div class="about-container">
        <div class="about-inner" style="flex-direction: row-reverse;">
            <div class="about-img">
                <img src="/images/exceptHome-Images/about-homeopathy.jpg" alt="image by bruno"
                    style="border-radius: 0; width: 35rem; border: 10px solid white;">
            </div>

            <div class="about-text" style="color: black; width: 50rem; line-height: 2;">
                <h1 style="font-weight: 600; padding: 0 0 1rem;">About Homeopathy</h1>
                <p style="text-align:justify;">Homeopathy achieved its greatest popularity in the 19th century. It was
                    introduced to the United States in 1825 with the
                    first homeopathic school opening in 1835. Throughout the 19th century, dozens of homeopathic
                    institutions appeared in
                    Europe and the United States. During this period, homeopathy was able to appear relatively
                    successful, as other forms of
                    treatment could be harmful and ineffective. By the end of the century the practice began to wane,
                    with the last
                    exclusively homeopathic medical school in the United States closing in 1920. During the 1970s,
                    homeopathy made a
                    significant comeback, with sales of some homeopathic products increasing tenfold. The trend
                    corresponded with the rise
                    of the New Age movement, and may be in part due to chemophobia, an irrational preference for
                    "natural" products, and the
                    longer consultation times homeopathic practitioners provided.
                </p>
            </div>
        </div>
    </div>
</section>


<section id="about">
    <div class="about-container">
        <div class="about-inner">
            <div class="about-img">
                <img src="/images/exceptHome-Images/samuel-hahnemann.png" alt="samuel hahnemann founder of homeopathy"
                    style="border-radius: 0; width: 35rem; border: 10px solid black;">
            </div>

            <div class="about-text" style="color: black; width: 50rem; line-height: 2;">
                <h1 style="font-weight: 600; padding: 0 0 1rem;">History of Homeopathy</h1>
                <p style="text-align: justify;">The history of homeopathy combines the high drama and intrigue commonly
                    found in the best efforts of
                    the silver screen.
                    Although a movie has not yet been made about homeopathy, it is a film waiting to happen.
                    Homeopathy became spectacularly popular in the United States and Europe in the 1800s and its
                    strongest advocates
                    included European royalty, American entrepreneurs, literary giants, and religious leaders. But at
                    the time that it was
                    gaining widespread popularity, it became the object of deep-seated animosity and vigilant opposition
                    from establishment
                    medicine. The conflict between homeopathy and orthodox medicine was protracted and bitter. We know
                    who won the first
                    round of this conflict. We await the results of the second round. Hopefully, we will soon discover
                    that a “fight” over
                    healing is inappropriate and that various approaches to healing are all necessary to build a
                    comprehensive and effective
                    health care system.
                    The history of homeopathy begins with the discoveries of its founder <span
                        style="color: black; font-weight: 600;">Samuel Hahnemann</span> (1755-1843), a
                    German physician.
                    Hahnemann first coined the word “homeopathy” (“homoios” in Greek means similar, “pathos” means
                    suffering) to refer to
                    the pharmacological principle, the law of similars, that is its basis. Actually, the law of similars
                    was previously
                    described by Hippocrates and Paracelsus and was utilized by many cultures, including the Mayans,
                    Chinese, Greeks, Native
                    American Indians, and Asian Indians, but it was Hahnemann who codified the law of similars into a
                    systematic medical
                    science.
                </p>
            </div>
        </div>
    </div>
</section>


<section id="about" style="background: #CFB997;">
    <div class="about-container">
        <div class="about-inner" style="flex-direction: row-reverse;">
            <div class="about-img">
                <img src="/images/exceptHome-Images/male-sexual-problem.webp"
                    alt="best doctor of homeopathy for male sexual problem"
                    style="border-radius: 0; width: 35rem; border: 10px solid white;">
            </div>

            <div class="about-text" style="color: black; width: 50rem; line-height: 2;">
                <h1 style="font-weight: 600; padding: 0 0 1rem;">About best homeopathy doctor for male sexual problem
                </h1>
                <p style="text-align: justify;">This is Dr.Saha's multispeciality homeopathy & cosmetology who is known
                    as of best homeopathy doctor for male sexual
                    problem. our chief consultant Dr.Snigdhodip Saha is one of the best homeopathy doctor for male
                    sexual problem practicing
                    homeopathy for last 10 years, has seen many critical & incurable cases which has been solved with
                    few drops of
                    homeopathic medicines. So we want to share few incidents with you all treated just with homeopathy
                    kolkata.we are
                    specialised in different types of hair growth treatment.come get treated by best hair doctor in
                    kolkata
                </p>
            </div>
        </div>
    </div>
</section>

<%}else if(pageType == 'check-us'){%>

<%if(page == 'images'){%>
<section class="page-header"
    style="background: url('/images/exceptHome-Images/gallery.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;"
    alt="Photo by Tara Winstead: https://www.pexels.com/photo/art-glass-color-health-6694187/">

    <div class="heading-container">
        <div class="heading">
            <h1>Images</h1>
        </div>
    </div>

</section>


<section id="gallery" style="background: #CFB997;">

    <div class="gallery-container" style="background: #F7EFE5;">

        <div class="gallery-inner">

            <div class="photos-container" style="display: inline-block;">
                <button type="button" class="photos" data-bs-toggle="modal" data-bs-target="#drsaha-1">
                    <img src="/images/exceptHome-Images/drsaha-1.webp" alt="">
                </button>

                <!-- example modal  -->
                <div class="modal fade" id="drsaha-1" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content">
                            <div class="modal-body" style="padding: 0; overflow: hidden;">
                                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                                <img src="/images/exceptHome-Images/drsaha-1.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="photos-container" style="display: inline-block;">
                <button type="button" class="photos" data-bs-toggle="modal" data-bs-target="#drsaha-2">
                    <img src="/images/exceptHome-Images/drsaha-2.webp" alt="">
                </button>

                <!-- example modal  -->
                <div class="modal fade" id="drsaha-2" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content" style="width: 65rem; margin: 0 auto;">
                            <div class="modal-body" style="padding: 0; overflow: hidden;">
                                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                                <img src="/images/exceptHome-Images/drsaha-2.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="photos-container" style="display: inline-block;">
                <button type="button" class="photos" data-bs-toggle="modal" data-bs-target="#drsaha-3">
                    <img src="/images/exceptHome-Images/drsaha-3.webp" alt="">
                </button>

                <!-- example modal  -->
                <div class="modal fade" id="drsaha-3" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content" style="width: 55rem; margin: 0 auto;">
                            <div class="modal-body" style="padding: 0; overflow: hidden;">
                                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                                <img src="/images/exceptHome-Images/drsaha-3.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="photos-container" style="display: inline-block;">
                <button type="button" class="photos" data-bs-toggle="modal" data-bs-target="#drsaha-4">
                    <img src="/images/exceptHome-Images/drsaha-4.webp" alt="">
                </button>

                <!-- example modal  -->
                <div class="modal fade" id="drsaha-4" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content" style="margin: 0 auto;">
                            <div class="modal-body" style="padding: 0;">
                                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                                <img src="/images/exceptHome-Images/drsaha-4.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="photos-container" style="display: inline-block;">
                <button type="button" class="photos" data-bs-toggle="modal" data-bs-target="#drsaha-5">
                    <img src="/images/exceptHome-Images/drsaha-5.webp" alt="">
                </button>

                <!-- example modal  -->
                <div class="modal fade" id="drsaha-5" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content" style="width: 60rem; margin: 0 auto;">
                            <div class="modal-body" style="padding: 0; overflow: hidden;">
                                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                                <img src="/images/exceptHome-Images/drsaha-5.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="photos-container" style="display: inline-block;">
                <button type="button" class="photos" data-bs-toggle="modal" data-bs-target="#drsaha-6">
                    <img src="/images/exceptHome-Images/drsaha-6.webp" alt="">
                </button>

                <!-- example modal  -->
                <div class="modal fade" id="drsaha-6" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content" style="margin: 0 auto;">
                            <div class="modal-body" style="padding: 0; overflow: hidden;">
                                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                                <img src="/images/exceptHome-Images/drsaha-6.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="photos-container" style="display: inline-block;">
                <button type="button" class="photos" data-bs-toggle="modal" data-bs-target="#drsaha-7">
                    <img src="/images/exceptHome-Images/drsaha-7.webp" alt="">
                </button>

                <!-- example modal  -->
                <div class="modal fade" id="drsaha-7" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content" style="width: 28rem; margin: 0 auto;">
                            <div class="modal-body" style="padding: 0; overflow: hidden;">
                                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                                <img src="/images/exceptHome-Images/drsaha-7.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="photos-container" style="display: inline-block;">
                <button type="button" class="photos" data-bs-toggle="modal" data-bs-target="#drsaha-8">
                    <img src="/images/exceptHome-Images/drsaha-8.webp" alt="">
                </button>

                <!-- example modal  -->
                <div class="modal fade" id="drsaha-8" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content" style="width: 28.4rem; margin: 0 auto;">
                            <div class="modal-body" style="padding: 0; overflow: hidden;">
                                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                                <img src="/images/exceptHome-Images/drsaha-8.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="photos-container" style="display: inline-block;">
                <button type="button" class="photos" data-bs-toggle="modal" data-bs-target="#drsaha-9">
                    <img src="/images/exceptHome-Images/drsaha-9.webp" alt="">
                </button>

                <!-- example modal  -->
                <div class="modal fade" id="drsaha-9" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content" style="width: 28rem; margin: 0 auto;">
                            <div class="modal-body" style="padding: 0; overflow: hidden;">
                                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                                <img src="/images/exceptHome-Images/drsaha-9.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="photos-container" style="display: inline-block;">
                <button type="button" class="photos" data-bs-toggle="modal" data-bs-target="#drsaha-10">
                    <img src="/images/exceptHome-Images/drsaha-10.webp" alt="">
                </button>

                <!-- example modal  -->
                <div class="modal fade" id="drsaha-10" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content" style="width: 21rem; margin: 0 auto;">
                            <div class="modal-body" style="padding: 0; overflow: hidden;">
                                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                                <img src="/images/exceptHome-Images/drsaha-10.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="photos-container" style="display: inline-block;">
                <button type="button" class="photos" data-bs-toggle="modal" data-bs-target="#drsaha-11">
                    <img src="/images/exceptHome-Images/drsaha-11.webp" alt="">
                </button>

                <!-- example modal  -->
                <div class="modal fade" id="drsaha-11" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content" style="width: 19.5rem; margin: 0 auto;">
                            <div class="modal-body" style="padding: 0; overflow: hidden;">
                                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                                <img src="/images/exceptHome-Images/drsaha-11.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="photos-container" style="display: inline-block;">
                <button type="button" class="photos" data-bs-toggle="modal" data-bs-target="#drsaha-12">
                    <img src="/images/exceptHome-Images/drsaha-12.webp" alt="">
                </button>

                <!-- example modal  -->
                <div class="modal fade" id="drsaha-12" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content" style="width: 12.5rem; margin: 0 auto;">
                            <div class="modal-body" style="padding: 0; overflow: hidden;">
                                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                                <img src="/images/exceptHome-Images/drsaha-12.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>
<%}else if(page == 'videos'){%>

<section class="page-header"
    style="background: url('/images/exceptHome-Images/gallery.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;"
    alt="Photo by Tara Winstead: https://www.pexels.com/photo/art-glass-color-health-6694187/">

    <div class="heading-container">
        <div class="heading">
            <h1>Videos</h1>
        </div>
    </div>

</section>

<section id="gallery" style="background: #CFB997;">

    <div class="gallery-container" style="background: #F7EFE5;">

        <div class="gallery-inner" style="gap: 5rem;">

            <div class="media-container" style="display: inline-block;">
                <iframe src="https://youtube.com/embed/_Q766YoNBoo" width="400" height="315"></iframe>
            </div>

            <div class="media-container" style="display: inline-block;">
                <iframe src="https://youtube.com/embed/Avn2IEMifNI" width="400" height="315"></iframe>
            </div>

            <div class="media-container" style="display: inline-block;">
                <iframe src="https://youtube.com/embed/ed0hmdVVZJo" width="400" height="315"></iframe>
            </div>

            <div class="media-container" style="display: inline-block;">
                <iframe src="https://youtube.com/embed/qKadquXuCwc" width="400" height="315"></iframe>
            </div>

            <div class="media-container" style="display: inline-block;">
                <iframe src="https://youtube.com/embed/-S-ePjGLMfE" width="400" height="315"></iframe>
            </div>

            <div class="media-container" style="display: inline-block;">
                <iframe src="https://youtube.com/embed/DnuRmi_XBw0" width="400" height="315"></iframe>
            </div>

            <div class="media-container" style="display: inline-block;">
                <iframe src="https://youtube.com/embed/uU6AVjJTC-o" width="400" height="315"></iframe>
            </div>

            <div class="media-container" style="display: inline-block;">
                <iframe src="https://youtube.com/embed/pV1BrM8Q7ro" width="400" height="315"></iframe>
            </div>

            <div class="media-container" style="display: inline-block;">
                <iframe src="https://youtube.com/embed/t3NBPW1KHg8" width="400" height="315"></iframe>
            </div>

            <div class="media-container" style="display: inline-block;">
                <iframe src="https://youtube.com/embed/ajz8eGyzqhQ" width="400" height="315"></iframe>
            </div>

            <div class="media-container" style="display: inline-block;">
                <iframe src="https://youtube.com/embed/-ZdafcbZ_gk" width="400" height="315"></iframe>
            </div>

            <div class="media-container" style="display: inline-block;">
                <iframe src="https://youtube.com/embed/IQuDWKN6SL4" width="400" height="315"></iframe>
            </div>

        </div>

    </div>

</section>

<%}%>

<%}else if(pageType == 'media'){%>

<section class="page-header"
    style="background: url('/images/exceptHome-Images/gallery.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;"
    alt="Photo by Tara Winstead: https://www.pexels.com/photo/art-glass-color-health-6694187/">

    <div class="heading-container">
        <div class="heading">
            <h1>Media Releases</h1>
        </div>
    </div>

</section>

<section id="gallery" style="background: #CFB997;">

    <div class="gallery-container" style="background: #F7EFE5;">

        <div class="gallery-inner" style="gap: 5rem;">

            <div class="media-container" style="display: inline-block;">
                <iframe src="https://www.youtube.com/embed/usEkTw6dCVM" width="400" height="315"></iframe>
            </div>

            <div class="media-container" style="display: inline-block;">
                <iframe src="https://youtube.com/embed/YJrr4hpeTPU" width="400" height="315"></iframe>
            </div>

            <div class="media-container" style="display: inline-block;">
                <iframe src="https://youtube.com/embed/0-6p3omYIQY" width="400" height="315"></iframe>
            </div>

            <div class="media-container" style="display: inline-block;">
                <iframe src="https://youtube.com/embed/96JgfWPxCWA" width="400" height="315"></iframe>
            </div>

            <div class="media-container" style="display: inline-block;">
                <iframe src="https://youtube.com/embed/7vY8IgugBn4" width="400" height="315"></iframe>
            </div>

            <div class="media-container" style="display: inline-block;">
                <iframe src="https://youtube.com/embed/Q2_Rydit8Qs" width="400" height="315"></iframe>
            </div>

            <div class="media-container" style="display: inline-block;">
                <iframe src="https://youtube.com/embed/TbhxbaXN3zs" width="400" height="315"></iframe>
            </div>

            <div class="media-container" style="display: inline-block;">
                <iframe src="https://youtube.com/embed/y9c7aY3SEVI" width="400" height="315"></iframe>
            </div>

        </div>

    </div>

</section>

<%}else if(pageType == 'treatment'){%>

<%if(page == 'hairloss'){%>
<!-- <section id="hairloss-heading">
    <div class="blog-heading">
        <h1>Hairloss</h1>
    </div>
</section> -->

<section id="hairloss-carousel">
    <div class="hairloss-carousel-container">
        <div id="hairloss-main-carousel" class="carousel slide carousel-dark"
            style="display: flex; justify-content: center;" data-bs-ride="carousel">
            <div class="carousel-indicators" style="bottom: 0;">
                <button type="button" data-bs-target="#hairloss-main-carousel" data-bs-slide-to="0"
                    class="active"></button>
                <button type="button" data-bs-target="#hairloss-main-carousel" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#hairloss-main-carousel" data-bs-slide-to="2"></button>
            </div>
            <div class="carousel-inner" style="width: 100%; height: 800px; display: flex; align-items: center;">
                <div class="carousel-item active" data-bs-interval="3000">
                    <img src="/images/treatment/hairloss-minoxidil.jpeg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block" style="top:15rem;">
                        <h2 style="color: white;">Tired Of Using Minoxidil & Finasteride?</h2>
                        <!-- <p>Some representative placeholder content for the first slide.</p> -->
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="/images/treatment/hairloss-oil.webp" class="d-block w-100"
                        alt="Image by https://www.freepik.com/free-photo/female-with-tangled-hair_8284650.htm#query=hair%20loss&position=0&from_view=keyword">
                    <div class="carousel-caption d-none d-md-block" style="bottom: 15rem;">
                        <h2 style="color: white;">Wasted Too Much Money On Various Hair Oil?</h2>
                        <!-- <p>Some representative placeholder content for the second slide.</p> -->
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="/images/treatment/hairloss-meds-jpeg.jpg" class="d-block w-100" alt="https://www.freepik.com/free-photo/young-handsome-man-touching-his-face-skin-beige-wall_7509624.htm#query=hair%20loss&position=48&from_view=keyword Image
                    by cookie_studio on Freepik" style="border-radius: 0.5rem;">
                    <div class="carousel-caption d-none d-md-block" style="bottom: 15rem;">
                        <h2 style="color: white;">Taking Medicines Without Knowing The Cause?</h2>
                        <!-- <p>Some representative placeholder content for the third slide.</p> -->
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#hairloss-main-carousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#hairloss-main-carousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section id="hairloss-treatment-body" style="background: #FAF8F1; color: black;">
    <div class="treatment-container">
        <div class="treatment-inner">
            <div class="hairloss-treatment-heading">
                <h1 style="font-weight: 600;">Best Hairloss treatment in Kolkata</h1>
            </div>

            <div class="hairloss-treatment-list">
                <h3>It's always better to understand the root of the problem before taking actions.</h3>
                <h5>Below are some of the necessary steps that we follow in our clinic:</h5>
                <ul class="treatment-steps">
                    <li><i class="fa-solid fa-tags" style="font-size: 1.25em; padding: 0.85rem;"></i>
                        <p>Hair & Scalp Testing</p>
                    </li>
                    <li><i class="fa-solid fa-tags" style="font-size: 1.25em; padding: 0.85rem;"></i>
                        <p>Evaluation of the cause of hairloss</p>
                    </li>
                    <li><i class="fa-solid fa-tags" style="font-size: 1.25em; padding: 0.85rem;"></i>
                        <p>Customised treatment for everyone as per their root problem</p>
                    </li>
                    <li><i class="fa-solid fa-tags" style="font-size: 1.25em; padding: 0.85rem;"></i>
                        <p>Classical Homeopathy Treatment for permanent cure</p>
                    </li>
                    <li><i class="fa-solid fa-tags" style="font-size: 1.25em; padding: 0.85rem;"></i>
                        <p>Laser therapy to combat tellogen effluvium</p>
                    </li>
                    <li><i class="fa-solid fa-tags" style="font-size: 1.25em; padding: 0.85rem;"></i>
                        <p>Immuno therapy for alopecia areata</p>
                    </li>
                    <li><i class="fa-solid fa-tags" style="font-size: 1.25em; padding: 0.85rem;"></i>
                        <p>Dermastamp therapy for effective hair regrowth</p>
                    </li>
                </ul>

            </div>
        </div>

        <div class="contact-container" style="padding: 5rem 0;">
            <div class="hairloss-warning">
                <div class="contact-text">
                    <h3 style="color: rgb(187, 0, 0); font-weight: 600;">Stop experimenting with your hair before its
                        too
                        late!</h3>
                </div>
            </div>

            <div class="contact-number">
                <div class="number">
                    <h3>Call us now @ <a href="tel: 9007488925">9007488925</a></h3>
                </div>
            </div>
        </div>


        <div class="treatment-video" style="padding: 5rem 0;">
            <div class="video-heading">
                <p style="text-align: center; padding: 1rem;">Watch Video</p>
                <h3 style="font-weight: 600; text-align: center;">5 best homeopathy medicines for hairfall with 2 bonus
                    medicines</h3>
            </div>

            <div class="video-iframe" style="text-align: center; margin: 3rem 0;">
                <iframe src="https://www.youtube.com/embed/-ZdafcbZ_gk" width="520" height="350"></iframe>
            </div>
        </div>

    </div>
</section>
<%}else if(page == 'hairregrowth'){%>

<section class="page-header"
    style="background: url('/images/exceptHome-Images/drsaha-4.webp'); background-repeat: no-repeat; background-size: cover; background-position: center;"
    alt="hair regrowth by best homeopathy doctor in kolkata">

    <div class="heading-container">
        <div class="heading">
            <h1>Hair Regrowth</h1>
        </div>
    </div>
</section>

<section id="page-body" style="color: black;">
    <div class="body-container">
        <div class="body-inner">
            <div class="body-content">
                <div class="content-head">
                    <h2>Gain your hair. Gain your confidence.</h2>
                </div>
                <div class="content-text">
                    <p>Hair problems don’t have to be so nagging and life-disrupting. With the right hair regrowth
                        treatment
                        in
                        Kolkata, you
                        can undo the wrong and stride forward confidently to have a great set of hair on your hair. Dr.
                        Snigdhodip Saha, at
                        Homeopathy Kolkata, is one of the leading homeopathy doctors in the city, specializing in hair
                        growth.
                    </p>
                    <br>
                    <p>Dr. Snigdhodip Saha is a go-to hair regrowth doctor in Kolkata for hundreds of patients. Adopting
                        a
                        holistic approach
                        that’s targeted to address distinct problems of individuals, he assures you of the best hair
                        regrowth
                        treatment in
                        Kolkata and an exceptional experience. Visit our multi-specialty clinic. Book your appointment
                        online
                        from here.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="body-container">
        <div class="body-inner">
            <div class="body-content">
                <div class="content-head">
                    <h2>World-Class Facility</h2>
                </div>
                <div class="content-text">
                    <p>Ours is a world-class facility that’s equipped to cater to all your hair problems. Over the
                        years, we have treated
                        thousands of patients here for a diverse range of hair problems, right from hair loss, hair
                        breakage, hair thinning,
                        heat damaged hair, and more. We have an adept infrastructure for in-house diagnosis. Our
                        homeopathy medicines and
                        solutions are carefully crafted by leading experts that promise desired outcomes and no side
                        effects. In addition to
                        deep-acting medicines, we also offer complete guidance and personalized assistance to our
                        patients, ensuring they have
                        all the support they need to beat their hair problems.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="body-container">
        <div class="body-inner">
            <div class="body-content">
                <div class="content-head">
                    <h2>Say Hi to Hair Regrowth</h2>
                </div>
                <div class="content-text">
                    <p>Has your occasional hair fall become more serious now and you’re concerned about it? Are you
                        noticing (emerging) bald
                        patches on your head? These are common hair problems the cause of which can be plenty. Our hair
                        regrowth treatment in
                        Kolkata focuses on the relevant cause and delivers lasting results. So, don’t let your hair
                        problems bring down your
                        self-esteem and confidence. Don’t let it interrupt your lifestyle. Hand-in-hand with the trusted
                        hair regrowth doctor in
                        Kolkata.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="body-container">
        <div class="body-inner">
            <div class="body-content">
                <div class="content-head">
                    <h2>Why Choose Us?</h2>
                </div>
                <div class="content-text">
                    <p>There are many reasons why we are one of the most preferred names when it comes to hair regrowth
                        treatment in Kolkata.
                        Here are some of those reasons:
                    </p>
                    <br>
                    <ul style="display: flex; flex-direction: column; gap: 0.85rem;">
                        <li style="list-style: disc; font-weight: 600;">
                            <p>Multi-specialty clinic with all modern facilities.</p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>Highly experienced doctor that cares about patients.</p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>Thousands of newly developed homeopathic medicines, including for hair regrowth, that has
                                helped every patient with the
                                right result.</p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>Proven track record with thousands of patients vouching for our expertise and credibility
                                in hair regrowth treatment in
                                Kolkata.</p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>Online consultation available and home delivery of medicines.</p>
                        </li>
                    </ul>
                    <br>
                    <p><em>Need more reasons? Connect with us today and let’s talk. Book your appointment online . Get
                            in touch with <span style="font-weight: 600; color: chocolate;">Dr. Snigdhodip
                                Saha</span> and achieve the desired hair growth.</em></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="treatment-videos" style="color: black; background: #F4F4F4;">
    <div class="treatment-video" style="padding: 5rem 0;">
        <div class="video-heading">
            <p style="text-align: center; padding: 1rem;">Watch Video</p>
            <h3 style="font-weight: 600; text-align: center;">Hair Regrowth - Latest Technique</h3>
        </div>

        <div class="video-iframe" style="text-align: center; margin: 3rem 0;">
            <iframe src="https://youtube.com/embed/Ynn3QviRsRA" width="620" height="350"></iframe>
        </div>
    </div>
</section>

<%}else if(page == 'malesexual'){%>

<section class="page-header"
    style="background: url('/images/treatment/male-sexual-problem.webp'); background-repeat: no-repeat; background-size: cover; background-position: center;"
    alt="hair regrowth by best homeopathy doctor in kolkata">

    <div class="heading-container">
        <div class="heading">
            <h1>Male Sexual Problems</h1>
        </div>
    </div>
</section>

<section id="page-body" style="color: black;">
    <div class="body-container">
        <div class="body-inner">
            <div class="body-content">
                <div class="content-head">
                    <h2>Healthy and Happy Sex Life</h2>
                </div>
                <div class="content-text">
                    <p>Sexual problems are common. But you don’t have to be the one struggling with them. With
                        treatments from <span style="font-weight: 600; color: black;">the best
                            sexologist doctor in Kolkata</span>, welcome a healthier and happier sex life.
                        <span style="font-weight: 600; color: black;">Dr.
                            Snigdhodip Saha</span> is
                        one of the leading
                        homeopathy doctors, specializing in male sexual problems like <span
                            style="font-weight: 600; color: black;">erectile dysfunction</span>
                        treatment in
                        homeopathy & <span style="font-weight: 600; color: black;">premature
                            ejaculation</span> treatment in homeopathy. Pick up your phone, book your appointment
                        online, and
                        enjoy
                        proven treatment plans
                        that have benefited thousands of patients to date. (We also offer sexologist for male
                        consultation online, delivering
                        medicines at your doorstep!).
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="body-container">
        <div class="body-inner">
            <div class="body-content">
                <div class="content-head">
                    <h2>Treating a Wide Range of Male Sexual Problems</h2>
                </div>
                <div class="content-text">
                    <p>At our multi-specialty clinic, in line with our commitment to be a one-stop destination for
                        homeopathy treatment in
                        Kolkata, we treat a wide range of sexual problems. Whether it's premature ejaculation, erectile
                        dysfunction, impotency,
                        infertility, excess fluid secretion, or anything else, irrespective of the problems you're
                        dealing with, we assure you
                        of a fitting homeopathy solution for the desired outcome. The causes of such problems can be
                        both physical and
                        psychological. Our team aims to identify the core issues and address them from the core with a
                        holistic approach.
                    </p>
                    <br>
                    <p>Since inception, over the years, we have helped thousands of men bring their sex life back on
                        track with our invented
                        homeopathy medicines and constant support. So, with Dr. Snigdhodip Saha and a reliable team by
                        your side, say goodbye to
                        your sex life problems. We’re known to bring the best to the table – and we promise you nothing
                        less than that.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="body-container">
        <div class="body-inner">
            <div class="body-content">
                <div class="content-head">
                    <h2>Why Choose Us?</h2>
                </div>
                <div class="content-text">
                    <p>There are many reasons why we are one of the most preferred names when it comes to treating male
                        sexual problems in Kolkata.
                        Here are some of those reasons:
                    </p>
                    <br>
                    <ul style="display: flex; flex-direction: column; gap: 0.85rem;">
                        <li style="list-style: disc; font-weight: 600;">
                            <p>We have extensive experience that spans more than 70 years.</p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>We treat a wide range of sexual problems without any side effect.</p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>We have a world-class clinic, equipped with all modern equipment.</p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>We have in-house made homeopathy medicines.</p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>We offer online video consultation with home delivery of medicine.</p>
                        </li>
                    </ul>
                    <br>
                    <p><em>Need more reasons to opt for our sexologist for male consultation online? Contact us and
                            let’s talk. <span style="color: chocolate; font-weight: 600;">Dr. Snigdhodip Saha</span>
                            is here to answer all your questions and treat your problems</em></p>
                </div>
            </div>
        </div>
    </div>

    <div class="body-container">
        <div class="body-inner">
            <div class="body-content">
                <div class="content-head">
                    <h2>5 Best Homeopathy Medicines for Erectile Dysfunction & Premature Ejaculation :</h2>
                </div>
                <div class="content-text">
                    <ul style="display: flex; flex-direction: column; gap: 0.85rem;">
                        <li style="list-style: disc; font-weight: 600;">
                            <p>Lycopodium</p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>Phosphorus</p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>Agnus Castus
                            </p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>Selenium</p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>Conium Mac
                            </p>
                        </li>
                    </ul>
                    <br>
                    <p><em>Call us now @ <a href="tel: 9007488925">9007488925</a></em></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="treatment-videos" style="color: black; background: #F4F4F4;">
    <div class="treatment-video" style="padding: 5rem 0;">
        <div class="video-heading">
            <p style="text-align: center; padding: 1rem;">Watch Video</p>
            <h3 style="font-weight: 600; text-align: center;">5 Best Homeopathy medicines for erectile dysfunction and
                premature ejaculation</h3>
        </div>

        <div class="video-iframe" style="text-align: center; margin: 3rem 0;">
            <iframe src="https://youtube.com/embed/qKadquXuCwc" width="620" height="350"></iframe>
        </div>
    </div>
</section>

<%}else if(page == 'gastrictrouble'){%>

<section class="page-header"
    style="background: url('/images/treatment/gas-trouble.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;"
    alt="hair regrowth by best homeopathy doctor in kolkata">

    <div class="heading-container">
        <div class="heading">
            <h1>Gastric Trouble</h1>
        </div>
    </div>
</section>

<section id="page-body" style="color: black;">
    <div class="body-container">
        <div class="body-inner">
            <div class="body-content">
                <div class="content-head">
                    <h2>Permanent Treatment for Gastric Problem</h2>
                </div>
                <div class="content-text">
                    <p>Don’t let gastric problems take hold of your life. Millions of Indians struggle with gas
                        problems, which hinder not just
                        their eating habits but also their whole lifestyle. You don’t have to be one of them! With the
                        right homeopathic
                        treatment, address the underlying reasons for your gastric problems and say hello to a better
                        life that you have long
                        wished for. At our clinic, over the past decade, Homeopathy doctor Dr. Snigdhodip Saha has
                        helped thousands of patients
                        with their digestive issues. With extensive hands-on experience and compassion to deliver the
                        finest solutions, Dr.
                        Snigdhodip Saha is a name you can trust.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="body-container">
        <div class="body-inner">
            <div class="body-content">
                <div class="content-head">
                    <h2>Take control of Your Gastric Problems</h2>
                </div>
                <div class="content-text">
                    <p>There are many causes of gastric problems, including having an empty stomach for long hours,
                        eating healthy and spicy
                        foods, and not chewing food properly. Stress and anxiety, too, play a critical role in affecting
                        your digestive system.
                        Other common causes are acidity, irritable bowel syndrome, constipation, food poisoning,
                        diabetes, lactose intolerance,
                        peptic ulcer, and more. For gastric trouble treatment that’s permanent, it's essential to focus
                        on the underlying
                        reasons behind the problems and address them adeptly. This is what Dr. Snigdhodip Saha focuses
                        on. We take a holistic
                        approach to treating gastric problems, relying on homeopathy, as well as lifestyle improvements,
                        like drinking plenty of
                        water, avoiding junk foods, eating small meals, and getting basic exercise daily.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="body-container">
        <div class="body-inner">
            <div class="body-content">
                <div class="content-head">
                    <h2>Identify the Signs and Take a Step Towards Treatment</h2>
                </div>
                <div class="content-text">
                    <p>Don’t shrug off the signs of gastric problems as something that would go away automatically. If
                        left unchecked, the
                        acute condition can become chronic. Some of the common symptoms of gastric problems are
                        abdominal pain, bloating,
                        nausea, indigestion, black stools, vomiting, and more. If you’re noticing any of these symptoms,
                        get in touch with us
                        today and get treated by Dr. Snigdhodip Saha.
                    </p>
                    <br>
                    <ul style="display: flex; flex-direction: column; gap: 0.85rem;">
                        <li style="list-style: disc; font-weight: 600;">
                            <p>We have a multispeciality clinic that’s equipped with all the modern facilities.</p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>We have extensive experience that spans more than a decade.</p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>We have 2,000 newly created homeopathic medicines that are faster to work.</p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>Our treatments are effective with zero side effects.</p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>We also offer online consultation with doorstep medicine delivery.</p>
                        </li>
                    </ul>
                    <br>
                    <p><em>Let's talk. Contact us @ <a href="tel:9007488925">9007488925</a> <span
                                style="color: black; font-weight: 600;">Dr. Snigdhodip Saha</span>
                            is here to answer all your questions and treat your problems.</em></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="treatment-videos" style="color: black; background: #F4F4F4;">
    <div class="treatment-video" style="padding: 5rem 0;">
        <div class="video-heading">
            <p style="text-align: center; padding: 1rem;">Watch Video</p>
            <h3 style="font-weight: 600; text-align: center;">5 Best Homeopathy medicines for GERD</h3>
        </div>

        <div class="video-iframe" style="text-align: center; margin: 3rem 0;">
            <iframe src="https://youtube.com/embed/t3NBPW1KHg8" width="620" height="350"></iframe>
        </div>
    </div>
</section>

<%}else if(page == 'pcos'){%>

<section class="page-header"
    style="background: url('/images/treatment/pcos.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;"
    alt="hair regrowth by best homeopathy doctor in kolkata">

    <div class="heading-container">
        <div class="heading">
            <h1>PCOS/PCOD is completely curable</h1>
        </div>
    </div>
</section>

<section id="page-body" style="color: black;">
    <div class="body-container">
        <div class="body-inner">
            <div class="body-content">
                <div class="content-head">
                    <h2>Best PCOS/PCOD Doctor in Kolkata</h2>
                </div>
                <div class="content-text">
                    <p>So many women suffer from PCOS but they don't know it yet. Don't be one of them. Don't ignore the
                        early
                        signs of PCOS like
                        heavy bleeding, irregular periods, male pattern baldness, and hair growth on the face and body.
                        Connect with the best
                        homeopathy doctor for PCOS in Kolkata and seek proper treatment.
                    </p>
                    <br>
                    <p>PCOS can affect every aspect of your health, causing infertility, sleep apnea, metabolic
                        syndrome, endometrial cancer,
                        and even depression. So, it's essential that you seek intervention at the earliest and take
                        definite measures to manage
                        and treat this syndrome that affects the hormone levels of women. Connect with Dr. Snigdhodip
                        Saha today. He is
                        recognized as the best homeopathy doctor for PCOS in Kolkata.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="body-container">
        <div class="body-inner">
            <div class="body-content">
                <div class="content-head">
                    <h2>Symptoms of Pcod or Pcos:</h2>
                </div>
                <div class="content-text">
                    <ul style="display: flex; flex-direction: column; gap: 0.85rem;">
                        <li style="list-style: disc; font-weight: 600;">
                            <p>Irregular menstruation.
                            </p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>Too scanty or Too heavy bleeding.
                            </p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>Very short duration menstruation.
                            </p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>Dysmenorrhoea or painful menstruation
                                .</p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>Hairfall.</p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>Acne.</p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>Hirsutism or unwanted body hair growth
                                .</p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>Sudden weight gain
                                .</p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>Diabetes Mellitus (Long term complication)
                                .</p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>Infertility.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="body-container">
        <div class="body-inner">
            <div class="body-content">
                <div class="content-head">
                    <h2>5 Best Homeopathy Medicines for Pcos or Pcod:</h2>
                </div>
                <div class="content-text">
                    <ul style="display: flex; flex-direction: column; gap: 0.85rem;">
                        <li style="list-style: disc; font-weight: 600;">
                            <p>Apis Mel
                                .
                            </p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>Lachesis.
                            </p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>Thuja.
                            </p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>Calcarea Carb
                                .</p>
                        </li>
                        <li style="list-style: disc; font-weight: 600;">
                            <p>Ovarinum.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="body-container">
        <div class="body-inner">
            <div class="body-content">
                <div class="content-head">
                    <h2>Holistic PCOS Treatment for Improved Health</h2>
                </div>
                <div class="content-text">
                    <p>Over the years, we have treated thousands of women with Polycystic Ovary Syndrome (PCOS). We
                        outline personalized
                        treatment plans based on one’s health and the severity of symptoms. Homeopathy medicines for
                        PCOS are effective and
                        safe. In our facility, we have over 2,000 newly created homeopathic medicines that are fast in
                        results and have done
                        wonders for the patients. Our treatment plans are holistic. In addition to homeopathic
                        solutions, we also ensure
                        patients take different steps to bring their health (and life) back on track, which includes
                        improving their diet and
                        getting exercise every day. So, with a trusted PCOS homeopathy doctor in Kolkata, stride forward
                        confidently to treat
                        this condition.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="body-container">
        <div class="body-inner">
            <div class="body-content">
                <div class="content-head">
                    <h2>Visit Dr. Saha’sMultispeciality Clinic Today</h2>
                </div>
                <div class="content-text">
                    <p>We have a multispeciality clinic that’s packed with cutting-edge facilities. Our team commits to
                        deliver patients not
                        just the best treatments but also an exceptional experience. So, don’t let the PCOS symptoms
                        affect the quality of your
                        health. At our clinic, meet a PCOS specialist in Kolkata who is trusted by thousands of women
                        across the state. Get the
                        right treatment plan and personalized support in beating this condition.
                    </p>
                    <br>
                    <p>We have a multispeciality clinic that’s packed with cutting-edge facilities. Our team commits to
                        deliver patients not
                        just the best treatments but also an exceptional experience. So, don’t let the PCOS symptoms
                        affect the quality of your
                        health. At our clinic, meet a PCOS specialist in Kolkata who is trusted by thousands of women
                        across the state. Get the
                        right treatment plan and personalized support in beating this condition. Book your appointment
                        online.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="treatment-videos"
    style="color: black; background: #F4F4F4; display: flex; flex-direction: column; justify-content: center;">
    <h2 style="text-align: center; padding:5rem 1rem 1rem; font-weight: 600;">Watch Video</h2>
    <div class="treatment-video-container" style="display: flex; justify-content: space-evenly;">
        <div class="treatment-video" style="padding: 5rem 0;">

            <div class="video-heading">
                <h3 style="font-weight: 600; text-align: center;">5 Best Homeopathy medicines for PCOS</h3>
            </div>

            <div class="video-iframe" style="text-align: center; margin: 3rem 0;">
                <iframe src="https://youtube.com/embed/ajz8eGyzqhQ" width="620" height="350"></iframe>
            </div>
        </div>

        <div class="treatment-video" style="padding: 5rem 0;">
            <div class="video-heading">
                <h3 style="font-weight: 600; text-align: center;">PCOD Cured Case</h3>
            </div>

            <div class="video-iframe" style="text-align: center; margin: 3rem 0;">
                <iframe src="https://youtube.com/embed/FGBlmUCCTQk" width="620" height="350"></iframe>
            </div>
        </div>
    </div>
</section>


<%}%>

<%}else if(pageType == 'contact'){%>

<div class="location-map">
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d29485.472059747117!2d88.376919!3d22.516036!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02713353d90335%3A0x9fee991e3accc2be!2sBest%20Homeopathy%20Doctor%20In%20Kolkata%20%7C%20Dr.Saha&#39;s%20Multispeciality%20Homeopathy%20%26%20Cosmetology%20%7C%20Dr.%20Snigdhodip%20Saha!5e0!3m2!1sen!2sin!4v1675022898323!5m2!1sen!2sin"
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <section id="contact" style="color: black;">
        <div class="contact-container" style="padding: 7rem 0; display: block;">
            <div class="contact-inner" style="display: flex; justify-content: space-evenly;">
                <div class="get-in-touch" style="display: flex; flex-direction: column; gap: 1rem; width: 35rem;">
                    <div>
                        <h1>Get in touch</h1>
                    </div>

                    <ul style="padding: 0;">
                        <li><span>Help & Queries</span></li>
                        <li><a href="tel: 9007488925">9007488925</a></li>
                        <br>
                        <li><span>Email</span></li>
                        <li><a href="mailto: dr.snigdhodip@gmail.com">dr.snigdhodip@gmail.com</a></li>
                        <br>
                        <li><span>Clinic Timing</span></li>
                        <li>Mon to sat : 10am to 7 pm</li>
                        <li>Sun : 10 am to 4 pm</li>
                        <br>
                        <li><span>Address</span></li>
                        <li>81 NK Ghosal Road Kasba, Kolkata WB, 700042 India</li>
                    </ul>
                </div>

                <div class="message-us" style="display: flex; flex-direction: column; gap: 1rem; width: 35rem;">
                    <div>
                        <h1>Message us</h1>
                        <p>(All the fields are necessary)</p>
                    </div>
                    <div>
                        <form action="/message" method="post" style="display: flex; flex-direction: column;">

                            <label for="#name"><span>Full Name: *</span></label>
                            <input type="text" name="messengerName" id="name">
                            <br>
                            <label for="#phone"><span>Phone no.: *</span></label>
                            <input type="tel" name="messengerPhone" id="phone">
                            <br>
                            <label for="#message"><span>Message: *</span></label>
                            <textarea name="message" id="message" cols="70" rows="10"></textarea>
                            <br>
                            <div class="message-submit-btn" style="width: 15rem;">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<%}%>






<script>
    const navItems = document.querySelectorAll('.nav-items');

    changeActiveLink();

    function changeActiveLink() {
        navItems.forEach((item) => {
            if (item.classList.contains("active")) {
                item.classList.remove("active");
            }
            if (item.classList.contains('<%= pageType %>')) {
                item.classList.add("active");
            }
        });
    }

    function showDropDown(item) {
        item.addEventListener('mouseenter', (e) => {
            const parent = e.target;
            if (parent.classList.contains("active")) {
                const child = parent.children[1];
                if (child.classList.contains("dropDown")) {
                    child.style.display = "block";
                }
            }
        });
    }

    function hideDropDown(item) {
        item.addEventListener('mouseleave', (e) => {
            const parent = e.target;
            const child = parent.children[1];
            if (child.classList.contains("dropDown")) {
                child.style.display = "none";
            }
        });
    }

</script>

<%- include('footer'); %>

<%- include('navAnimationScript'); %>