<div class="post-text">
    <%if(title == 'Have Gastric Problems? Here Are 3 Reasons To Choose Homeopathy'){%>
    <p>
        Many people suffer from gastric problems. The most common one is stomach bloating,
        abdominal pain, lack of appetite, indigestion, or heartburn. The most frequent causes of
        these problems are stress, anxiety, and depression. Emotional upsets can lead to the
        accumulation of gas in the stomach or intestines, which may make you feel bloated as well.
        When your body suffers from a gastric problem, a homeopathic remedy will be the best way
        to treat it.
    </p>
    <br />
    <p>
        In fact, homeopathy has been considered the best possible way to treat gastric problems.
        There are a lot of cases where homeopathic medicines show positive results that other
        medicines do not. It gives excellent results for gastric diseases and enhances the
        digestion process, which further improves your health condition.
    </p>
    <br />
    <p>
        In fact, homeopathy has been considered the best possible way to treat gastric problems.
        There are a lot of cases where homeopathic medicines show positive results that other
        medicines do not. It gives excellent results for gastric diseases and enhances the
        digestion process, which further improves your health condition.
    </p>
    <br />
    <ul>
        <li>A safe choice with no side effects:</li>
        <p>
            Homeopathy is alternative medicine and so it is used for many diseases. When prescribed
            by the doctor, a homeopathic remedy is best for treating gastric problems. It has no
            side effects and hence is safe to use. So, if you are looking for a cure without any
            side effects, homeopathy is what you should look for. Homeopathic remedies are made with
            natural ingredients and are prepared in licensed labs.
        </p>
        <br />
        <p>
            Homeopathy can be taken to treat any kind of gastric problem and it does not cause any
            harm to your body. Although homeopathy treatment is safe, it’s essential you start the
            treatment only after consulting your doctor. Your doctor will examine you thoroughly and
            consider a host of factors (like your age and existing health problems) before
            prescribing you a homeopathic medicine.
        </p>

        <li>Trusted by millions of people worldwide:</li>
        <p>
            A homeopathy is a form of alternative medicine that’s been practiced since the early
            19th century. The method is based on a holistic approach to treatment that focuses on
            the body as a whole rather than only individual parts or symptoms.
        </p>
        <br />
        <p>
            Homeopathy has been trusted by hundreds of millions of people for over two centuries.
            The World Health Organization recognizes homeopathy as one of the most widely used forms
            of medicine in the world today.
        </p>
        <br />
        <p>
            Homeopathy for gastric problems has been used for many years and has helped many people
            permanently solve their gastric problems. Millions of people have found relief from
            chronic indigestion and heartburn thanks to this safe and effective treatment option.
            So, you can rest assured that you’re trying a treatment option that’s prevalently used
            and trusted by people across the world.
        </p>

        <li>Effective for a wide range of gastric options:</li>
        <p>
            Homeopathy helps in curing stomach disorders like acidity, indigestion, heartburn,
            nausea, vomiting, etc. Most of these ailments are caused due to improper functioning of
            the digestive system followed by an imbalance in the overall functioning of the body.
            Homeopathic treatment helps in regulating gastrointestinal functioning along with other
            systems of the body like the nervous system, endocrine system, and more.
        </p>
        <br />
        <p>
            The chief aim of homeopathy is to restore and maintain harmony within the body so that
            the body can fight diseases and heal itself. Hence, homeopathy is extremely effective
            for treating chronic gastric problems.
        </p>
    </ul>

    <div class="post-sub-header" style="margin-top: 3rem;">
        <div class="sub-header">
            <h4>Final Words</h4>
        </div>

        <div class="sub-text" style="line-height: 1.85;">
            <p>
                When it comes to treating gastric problems, homeopathy is the best way to treat them.
                Since there are a lot of causes that lead people to get affected by these problems,
                doctors suggest these medicines as the best way to treat them. All the symptoms that are
                associated with these problems can be treated with the use of homeopathic remedies.
            </p>
            <br />
            <p>
                So, take your time to find a good homeopathy doctor who has extensive experience in
                treating patients with gastric problems. Consult them today, identify the underlying
                causes of your stomach problems, and start your treatment plan.
            </p>
        </div>
    </div>
    <%}else if(title == 'Homeopathy Treatment For Acne: How Can It Work For You?'){%>

    <p>Acne treatment options are wide-ranging and complicated. There are many different types of treatments available
        like
        skincare, products, and even medication. One of the simplest forms of acne treatment comes from homeopathy for
        acne
        breakouts and scars. The reasons why it works are rather obvious, homeopathy focuses on treating the root cause
        of the
        problem. While this is a rather old method, it continues to be effective even today.</p>
    <br>
    <h4>Causes of Acne:</h4>
    <br>
    <p>Acne is a skin condition in which black and white head pimples may appear on the skin. It is more common among
        the
        adolescent population and they find it very difficult to cope with the problem because the condition not only
        affects
        their appearance but also reduces their self-confidence.</p> <br>

    <p>Acne is caused by a combination of factors, including genetics, hormones and bacteria. A primary cause of acne is
        the
        overproduction of sebum, an oily substance that lubricates the pores. The excess sebum mixes with dead skin
        cells and
        forms a plug within the pore, which prevents the outward flow of oil.</p>
    <br>
    <p>Excess production of sebum can be triggered by hormones: A large amount of male hormone – androgen – stimulates
        the oil
        glands in the skin. Androgens are responsible for the development of acne in most teenagers and some adults.
        Hormonal
        changes during pregnancy or the use of birth control pills can also lead to an increase in acne breakouts.</p>
    <br>
    <p>Certain rare diseases and syndromes can also cause excess skin oil production and lead to recurring acne.</p>
    <br>
    <h4>Early Signs of Acne Breakouts:</h4>
    <br>
    <p>Acne can be easily treated if it’s detected at an early stage. The treatment for acne will vary depending on its
        severity. Treating acne in its early stages will help prevent scarring.</p>
    <br>
    <p>Acne breakout can occur as blackheads or as whiteheads, which are called closed comedones. With acne breakout,
        the pore
        opens within 2 to 4 days, which results in inflammation, redness and pus discharge from the pores. When this
        happens, it
        is called open comedo or a whitehead.</p>
    <br>
    <h4>Homeopathy for Acne:</h4>
    <br>
    <p>Homeopathy is a safe option to treat acne and pimples. Homeopathic medicines are prepared from natural sources
        with no
        side effects. Homeopathy treatment helps in getting rid of the cause of acne without irritating or damaging the
        skin.</p>
    <br>
    <p>Homeopathic medicines are prescribed by taking into account the symptoms shown by an individual. The symptoms
        include an
        individual’s physical, mental and emotional states. These signs assist in determining the appropriate
        homeopathic
        medicine to be administered for best results.</p>
    <br>
    <p>When choosing a homeopathic medicine for acne and pimples it is important to take into consideration the factors
        like
        age, gender, and weather.</p>
    <br>
    <p>In all, homeopathic medicines can be used for acne to help speed up the healing process, prevent future
        outbreaks, and
        reduce the severity and duration of breakouts. Homeopathic medicine is thought to stimulate the body’s immune
        system and
        its ability to fight disease. It has been used successfully as a treatment for mild to moderate acne.</p>
    <br>
    <p>Also, Read The Article About <a href="#">Why More People Now Trust Homeopathy Over Other Options?</a></p>
    <br>
    <h4>Find a good homeopathy doctor to treat your acne problems:</h4>
    <br>
    <p>Acne affects your self-confidence and in severe cases can make you feel extremely self-conscious. But with
        homeopathy,
        you need not worry anymore as it gives you a permanent solution to this problem.</p>
    <br>
    <p>To choose the right homeopathic remedy for your acne, you will have to <a href="/">consult a good homeopathy
            doctor</a> who has
        expertise in treating patients with acne. A good doctor will prescribe a remedy after studying your complete
        case
        history as well as analyzing your other health vitals.</p>
    <br>
    <p>So, do some research to find a good homeopathy doctor, get treated and say hello to healthy (and smoother) skin.
    </p>

    <%}else if(title == 'Can Homeopathy Cure Allergy? A Quick Guide'){%>

    <p>Homeopathy is a discipline of medicine that aims to treat all types of health conditions using low-potency
        solutions. It
        has been in practice for more than a hundred years, and it gained popularity across the world.</p>
    <br>
    <p>Homeopathy has a lot of potential benefits when it comes to treating Allergy.</p>
    <br>
    <p>It is one of the most preferred treatment options for millions of people dealing with hay fever.</p>
    <br>
    <h4>Symptoms of Allergy:</h4>
    <br>
    <p>An allergy is a hypersensitivity disorder of the immune system characterized by abnormal reactions to otherwise
        harmless
        environmental substances or allergens. The allergens can be airborne particles (such as pollen, pet dander, dust
        mite
        excrement and mold spores) or food (such as peanuts, seafood or shellfish).</p>
    <br>
    <p>Signs of allergies are hayfever, eczema, and asthma. Food allergies can cause serious reactions when eating
        particular
        foods, including vomiting, diarrhea and even life-threatening anaphylactic shock.</p>
    <br>
    <p>Allergies are a common, complex, and often chronic disorder affecting the immune system and causing
        hypersensitivity to
        certain triggers.</p>
    <br>
    <p>Overall, the symptoms of an allergic reaction vary from person to person and depend on what is causing the
        allergy. The
        most common symptoms include skin problems (like hives, itchy skin, rashes, facial swelling), wheezing,
        <a href="/treatment/gastrictrouble">digestive
            problems</a>, nausea, vomiting, diarrhea, asthma or breathing problems, extreme fatigue, and more. Some
        people will
        also
        develop more serious symptoms that can affect multiple organs throughout their bodies.
    </p>
    <br>
    <h4>Can Homeopathy Help with Allergies?</h4>
    <br>
    <p>Homeopathy is an effective alternative to conventional medicines. It has been seen that homeopathy is beneficial
        in
        providing relief from many diseases such as allergies, asthma, infections and much more. Homeopathy comes as a
        boon for
        people who are allergic to various foods. In the conventional medicines available, the treatment is limited to
        relieving
        symptoms. The modalities of homeopathy are very effective and there could be a permanent cure for allergy
        problems.</p>
    <br>
    <p>The treatment for allergies includes homeopathic medicines which are made from natural substances like plants,
        minerals
        and metals. Hence, people who have a fear of using conventional medicine due to the side effects can go for
        natural
        remedies of Homeopathy.</p>
    <br>
    <p>Homeopathic medicines can be taken orally and they work in harmony with your body without causing any side
        effects. Any
        kind of allergy can be cured with the help of Homeopathy like hay fever, food allergies and skin allergies.</p>
    <br>
    <h4>Connect with an experienced homeopathy doctor:</h4>
    <br>
    <p>Treating seasonal allergic rhinitis by homeopathic is a very safe and effective treatment. It reduces the
        severity and
        duration of symptoms, especially for patients who suffer from seasonal allergic rhinitis every year.</p>
    <br>
    <p>The best homeopathy doctors in the world offer exclusive treatments for diseases like allergies, asthma and
        eczema.
        Treatment involves the use of natural herbs and other ingredients to cure allergies. Homeopathy is a safe and
        effective
        treatment for patients suffering from allergies.</p>
    <br>
    <p>So, take your time to <a href="/about">find a good homeopathy doctor</a> who has extensive experience and enjoys
        a good reputation.
    </p>

    <%}else if(title == 'Why More People Now Trust Homeopathy Over Other Options?'){%>

    <p>Organic living is one of the biggest buzzwords on the scene right now. With more people concerned about their
        health and
        possible side-effects of consumable items that have different forms of chemicals in them, a large part of the
        population
        is rallying behind homeopathy, a medical system that promotes the idea of the body curing itself. And the
        proactive
        research and investment from the government institutions have further brought this medical system into the
        limelight,
        winning the confidence of even young individuals. Homeopathy leverages natural substances like plants and
        minerals to
        heal, which perfectly blends with the concept of organic living. This is just one of its USPs, aside from
        effectiveness,
        which has positioned it as a better treatment option over other popular alternatives.</p>
    <br>
    <h4>The richness that Ways Back to Centuries:</h4>
    <br>
    <p>Homeopathy dates back to the 18th century. It is a system of medicine that uses remedies made of natural
        substances from
        plants, minerals, and animals to stimulate the body’s ability to heal itself. Treating disease by stimulating
        the body
        to heal itself is different from allopathic treatment, which aims at suppressing or curing a disease. Homeopathy
        does
        not have any side effects as it does not interact with the chemicals present in the body.</p>
    <br>
    <p>Homeopathy is used for treating many <a href="https://www.ncoa.org/article/chronic-versus-acute-disease">acute
            and chronic illnesses</a>. Homeopathy
        helps to boost the immune system so
        that
        there is no need for vaccination. Homeopathy can be helpful for treating people who are allergic to medicines
        like
        antibiotics and barbiturates. Homeopathic remedies work in harmony with the human body without creating any kind
        of side
        effects.</p>
    <br>
    <h4>No Toxicity or Side Effects:</h4>
    <br>
    <p>Homeopathy is a system of medicine that uses very small doses of natural substances to stimulate the body’s own
        healing
        processes. These natural substances are called “remedies”. The remedies are so carefully prepared that they have
        no side
        effects and can be safely taken by anyone. Moreover, it doesn’t hamper digestion, lower immune resistance or
        produce
        allergic reactions. If taken under the guidance of a qualified homeopath, they are safe in the long term.</p>
    <br>
    <p>Homeopathic remedies are regulated by the government in India. They can only be made by qualified doctors and
        pharmacists, who check each recipe before preparation. This is how we know that homeopathy is safe. With the
        consultation of a homeopathy doctor, homeopathy can be used by anyone including infants, children, and pregnant
        women.</p>
    <br>
    <h4>Proven Results:</h4>
    <br>
    <p>Homeopathy is often described as a science of drugs. It is an alternative to conventional medicine, which aims at
        suppressing or curing symptoms rather than treating the root cause of the problem. As mentioned, the best
        homeopathic
        medicines are non-toxic and side effects are rare and mild.</p>
    <br>
    <p>Homeopathic remedies aim to treat the whole person, not just one disease or symptom. They tackle the causes
        behind
        symptoms and try to restore balance within the body. Conventional drugs tend to treat only a specific illness or
        cluster
        of symptoms instead of treating the person as a whole.</p>
    <br>
    <p>Millions of people around the world trust homeopathy. So many of them have been cured of their illnesses, living
        now a
        healthier and happier life. So, with homeopathy, there’s no guesswork of whether it will work or not. Its
        results are
        proven and experienced by so many people first-hand.</p>
    <br>
    <h4>Ideal for Acute and Chronic Conditions:</h4>
    <br>
    <p>Treating the symptoms of an illness with homeopathy can be very beneficial in several ways. It can help treat
        illnesses
        faster and avoid different side effects and complications. Those who prefer homeopathic treatments are usually
        people
        who suffer from chronic or recurring illnesses. Research has also found that homeopathy is extremely helpful for
        treating certain kinds of cancer as well as other forms of incurable diseases like AIDS, arthritis, and diabetes
        mellitus. In addition to treating these ailments effectively, homeopathy also helps in reducing the pain
        associated with
        these complications. This is one of its inherent benefits over alternative options, which makes homeopathy a
        much more
        preferred option for millions of people worldwide.</p>
    <br>
    <h4>Integrated into Science:</h4>
    <br>
    <p>Homeopathy is a scientific medical system based on natural healing principles. It uses natural substances to
        stimulate
        your body’s self-healing mechanism rather than suppressing symptoms with synthetic drugs or radiation.
        Homeopathic
        medicines are made from natural substances that are diluted to the point that there is no measurable trace of
        the
        original substance in the medicine.</p>
    <br>
    <p>Treatment with homeopathic medicines begins with taking a detailed case history so that individually tailored
        remedies
        can be prescribed for maximum effectiveness. The choice of which remedy to prescribe depends upon an
        individual’s
        constitution as well as all factors pertaining to their specific illness at that given time. So, contrary to the
        popular
        perception, homeopathy isn’t an alternative to science. It is, in fact, a part of science.</p>

    <div class="post-sub-header" style="margin-top: 3rem;">
        <div class="sub-header">
            <h4>Final Words</h4>
        </div>

        <div class="sub-text" style="line-height: 1.85;">
            <p>
                When it comes to treating gastric problems, homeopathy is the best way to treat them.
                Since there are a lot of causes that lead people to get affected by these problems,
                doctors suggest these medicines as the best way to treat them. All the symptoms that are
                associated with these problems can be treated with the use of homeopathic remedies.
            </p>
            <br />
            <p>
                So, take your time to find a good homeopathy doctor who has extensive experience in
                treating patients with gastric problems. Consult them today, identify the underlying
                causes of your stomach problems, and start your treatment plan.
            </p>
        </div>
    </div>

    <%}else if(title == 'Top 4 Benefits Of Going Through Homeopathy Treatment For Hair Loss'){%>

    <p>Do you face intense hair loss crises? Fed up of using chemical cosmetic products that cause more damage than good
        for
        this matter? Well, you must then be informed of the miraculous effects of well-planned homeopathy treatment that
        includes the prescribed dosage of selectively prepared homeopathic medicines. Visit the best homeopathy doctor
        in
        Kolkata in charge of a well-established homeopathy clinic to receive effective homeopathy remedies to cure the
        worrisome
        loss of your tresses.</p>
    <br>
    <ul>
        <li>
            Is a reliable form of treatment:
        </li>
        <p>What makes homeopathy a trusted measure for healing hair loss problems is that it’s completely safe and
            natural. Unlike
            other artificial applications or medicines that induce harmful side effects, homeopathy treatment undertaken
            by a good
            doctor can check hair loss and nourish your scalp for voluminous hair regrowth later.</p>

        <li>Boosts overall immunity:</li>
        <p>One major plus point of taking up homeopathy treatment is that apart from stopping hair loss eventually, it
            improves
            your body’s immunity. Whether the cause for your hair loss is stress, chronic illness or due to hormonal
            imbalance, it’s
            evident that most of these issues thrive on <a
                href="https://www.pennmedicine.org/updates/blogs/health-and-wellness/2020/march/weakened-immune-system">poor
                immunity</a>. Thus, accurate prescription of homeopathy drugs
            can level up
            your immunity to give your system extra strength and vitality to combat ailments and in turn, prevent
            further hair fall
            crises.</p>

        <li>Offers permanent cure for hair loss:</li>
        <p>Artificial treatments may stop your hair loss for the time being but you’ll be disappointed to find the same
            issue
            surface again once the temporary effect wears off. Homeopathy, on the other hand, addresses the root cause
            of hair loss
            and acts as a long-term remedy for curing hair loss and nurturing hair growth to revive your fallen locks.
        </p>

        <li>Is a cost-effective treatment:</li>
        <p>Expensive hair loss treatments often drain your pockets without providing a full-time stoppage to hair fall.
            And in this
            aspect, homeopathy stands out as an immensely popular and dependable stream of treatment. The elaborate
            homeopathic cure
            is a remarkably affordable solution that offers the satisfaction of undergoing a pocket-friendly measure
            that has the
            magical potential to treat hair loss completely.</p>
        <br>
        <p>Consult with the <a href="/treatment/hairregrowth">best hair doctor in Kolkata</a> attached with a respected
            homeopathy clinic if you’re bothered
            with
            continuous hair loss or other hair-related problems. Such an experienced and knowledgeable doctor will
            prescribe
            effective organic homeopathy solutions utilizing advanced technology to make your hair loss issues vanish
            over a span of
            time.</p>
    </ul>

    <%}else if(title == 'What Makes Homeopathy A Reliable Modern-Day Treatment For Hair Loss?'){%>

    <p>Are you facing hair loss crises? Looking for a measure to stop this problem? Then, here you’ll find detailed
        know-how
        about the reliability of homeopathic medicines as a long-term solution to fight off the falling of your adored
        tresses.
        Do consult with the best homeopathy doctor in Kolkata of a well-known homeopathic clinic to avail prescription
        of
        carefully crafted homeopathic hair loss drugs that are 100% effective.</p>
    <br>
    <h4>All about the safety of the homeopathic remedy</h4>
    <br>
    <p>The main reason that so many hair loss sufferers are counting on homeopathy treatment in the contemporary period
        is that
        it’s perfectly safe. Founded by Dr. Samuel Hahnemann, homeopathy is that branch of therapeutic measure that’s
        based on
        the principle of cures. Derived from natural resources, homeopathic medicines help to address the root cause of
        hair
        loss and boosts immunity. This enables it to improve your overall health and starts doing its magic after you’ve
        followed your intake of the recommended homeopathic solutions.</p>
    <br>
    <h4>Why undertake homeopathy for hair loss?</h4>
    <br>
    <p>Conventional hair loss treatments usually fail to detect the root cause of the problem which leads to the
        prescription
        of incorrect remedies. But a good homeopathy doctor checks every aspect of your body to rule out a correct
        detection of
        the hair fall causes. Be it stress, hormonal issue, chronic illness or some other reason, the modern homeopathic
        cure
        involves accurate pinpointing of the cause for alopecia areata.</p>
    <br>
    <p>Going to a qualified homeopathic doctor means providing in-depth information about what’s been going wrong with
        your
        system. Right from what’s playing on your mind and sleep patterns to your personality, diet and other habits,
        the doctor
        will take note of everything and every symptom you’re facing before offering the medicine. This procedure of
        acquiring
        knowledge about your body mechanism and habits allows the homeopathy expert to provide you with correctly
        prepared
        homeopathy solutions to prevent future hair loss. The final cherry on the pie is that this form of natural
        therapy is
        free from side effects that make it safer and more reliable than traditional treatment with harsh chemical
        medicines.</p>
    <br>
    <p><a href="/appointmentbooking">Book an appointment</a> with the <a href="/">best hair doctor in Kolkata</a>
        associated with a noted
        homeopathic clinic, if
        you’re
        burdened
        with hair fall troubles. Such a certified homeopathic specialist will provide you with exceptional homeopathic
        solutions
        to achieve permanent results for healing your recurring hair loss issues.</p>

    <%}else if(title == '5 Best Homeopathy Medicines for Hairfall'){%>

    <p>Hairfall in a person is a natural phenomenon unless & until it’s creating Male Pattern Baldness (MPB) or Female
        Pattern
        Baldness ( FPB ). Generally, the fallen hairs should regrow on its own in a normal healthy person. One hair
        follicle can
        regrow 7 healthy hairs in its lifetime but the problem starts when these follicles get destroyed by a hormone
        called DHT
        (di-hydro-testosterone). Both males & females have testosterone hormone already stored in their bodies. When the
        production of 5 alpha-reductase enzymes in the body occurs due to various reasons, it mixes up with testosterone
        to form
        DHT. This DHT is the main reason behind the miniaturization of the follicles resulting in pattern baldness like
        MPB or
        FPB. Another kind of hair loss can be noted in both males & females called alopecia. But that is an autoimmune
        disorder
        resulting in coin-shaped multiple bald patches all over the scalp or body. As the reason behind these two is
        completely
        different we will discuss alopecia in a different article.</p>
    <br>
    <p>Now as the treatment process concerns there are multiple treatments available to combat hair loss depending upon
        the
        cause of the hair loss. Like in the case of genetic pattern hairloss homeopathic constitutional medicines along
        with PRP
        or derma stamp therapy provide a satisfactory result. In the case of hormonal hairloss like PCOD induced
        hairloss and
        the PCOD factor should be cured by proper homeopathic medicines. In the case of stress-induced hair loss
        meditation &
        yoga along with holistic medicines can provide good results. In case of low scalp blood circulation due to
        anemia or low
        blood pressure, it can be reversed by LLLT or Laser Therapy just within a month period. Here it’s worth
        mentioning that
        we should have a holistic approach while treating hairloss like homeopathy, yoga, meditation & cosmetology all
        should be
        incorporated as per the situation. Then the only permanent solution can be achieved.</p>
    <br>
    <p>Now coming to specific homeopathic medicines for hairfall there are plenty of medicines as per the cause &
        symptoms. But
        here I will mention the 5 best homeopathy medicines for hairfall as they are more commonly used than the other
        medicines.</p>
    <br>
    <ol style="display: flex; flex-direction: column; gap: 1rem;">
        <li>
            <p><span>Phosphorus 200</span> – Phosphorus patients are tall, lean, stoop-shouldered persons having light
                complexion or
                blue-colored
                eyes. Generally, they are extroverted persons. They are extremely chilly patients. The Desire for salt,
                cold drink, ice
                cream is noted. Hairfall just due to touch or combing along with dandruff can indicate this medicine.
            </p>
        </li>
        <p><span style="font-weight: 600; color: black">Dosage: once daily</span></p>
        <br>

        <li>
            <p><span>Natrum Mur 200</span> – Natrum Mur patients are lean, dark complexion generally introverted person.
                They do not
                cry easily
                before unknown persons, somewhat reserve in nature. They are hot patients. The desire for salt & fish is
                noted. Hairfall
                due to hormonal reasons or after delivery can indicate this medicine.</p>
        </li>
        <p><span style="font-weight: 600; color: black">Dosage: once daily</span></p>
        <br>

        <li>
            <p><span>Sulphur 30</span> – Sulphur patients are generally lean, stoop-shouldered persons. Usually, they
                have an
                aversion to bathing or
                washing so they look dirty & filthy & suffer from skin diseases often. The Desire for sweet, cold food.
                Red lips & other
                orifices of the body. They are hot patients. Burning sensation on vertex, palm & soles. Hairfall after
                bathing or
                shampooing can indicate this medicine.</p>
        </li>
        <p><span style="font-weight: 600; color: black;">Dosage: twice daily</span></p>
        <br>

        <li>
            <p><span>Acid Fluor 30</span> – Acid fluor persons are hot patients. They suffer from ravenous hunger. They
                get angry &
                irritated at
                truffles. Usually, indicated in the case of alopecia areata where hairfall occurs as coin-shaped
                patches.</p>
        </li>
        <p><span style="font-weight: 600; color: black;">Dosage: twice daily</span></p>
        <br>

        <li>
            <p><span>Lycopodium 200</span> – Lycopodium persons are pot-bellied but lean-legged persons. Usually, they
                are chilly
                patients. The
                Desire for sweet, hot beverages & hot food. Mentally intellectual but physically underactive results in
                obesity. They
                fear undertaking a new project, but when start they can also finish it up within the time frame. They
                generally suffer
                from gastric & urinary troubles. Hairfall with premature greying can indicate this medicine.</p>
        </li>
        <p><span style="font-weight: 600; color: black">Dosage: once daily</span></p>
        <br>
    </ol>
    <br>
    <h4>Watch full Hindi video on this topic:</h4>
    <br>
    <iframe src="https://youtube.com/embed/-ZdafcbZ_gk" width="100%" height="400"></iframe>

    <%}else if(title == 'Acute Diseases'){%>

    <p>Homeopathy as we all know is the safest treatment procedure existing in the world.there are many miraculous
        results we
        witnessed with this medical system.but there are also few myths about this lesser known pathy which today i want
        to
        clear with my real life experiences.</p>
    <br>
    <p>For many years people used to say that homeopathy is very slow acting.so i think its high time to break our
        mental
        blockage & get to the truth.this is the fastest acting medical system when the medicine selection is correct.i
        am a
        third generation homeopath & witnessed the miracle from my childhood.my grandfather,father,paternal aunt all
        were
        reknowned homeopath doctors of kolkata.so i was blessed to born in such a family & witness the magic of those
        sweet
        pills.</p>
    <br>
    <p>Now i want to share my 1st hand experiences with you.i have never ever used a simple paracetamol tablet in my
        whole
        life,instead always used homeopathy in viral fevers & what i actually experienced is viral fevers are a 12 hours
        disease
        course if treated with homeopathy.common cold hardly takes 24 hours to get cured & cough takes max to max 3
        days.this is
        the story of the most common acute ailments.</p>
    <br>
    <p>Any pain,sprain,injury to bones or muscles,injuries which turn black n blue,please once use arnica 200 in this
        cases.im
        sure many of you have heard about this medicine but not all have used it.mysuggestion to you is just buy a
        bottle of
        arnica 200 & keep that in your closet.use in these sort of cases & see the miracle yourselves.you will surely
        rely upon
        homeopathy after its one use.</p>
    <br>
    <p>If you ever suffer from gastric derangements after a heavy meal use nux vomica 200 next time.you will never be
        able to
        use any other antacids or any allopathy medicines in acute gastric troubles afterwards.</p>
    <br>
    <p>If you ever cut n bleed any body part of yours see the blood stops like magic with ferrum phos 6x applied
        locally.blood
        will stop immidiately.it might sound like magic but experience the magical truth atleast once in your lifetime.
    </p>
    <br>
    <p>In todays article i have mentioned just a few example, there are hurdreds & thousands of such conditions where
        homeopathy works wonder.i will discuss its use in common chronic diseases in my next post.till then my request
        is to use
        it once to be a part of this magical experiences.</p>

    <%}else if(title == 'PCOD'){%>

    <p>Pcod is a burning problem nowadays in women specially young females which leads to various conditions in
        body.often
        women think that those conditions are results of different diseases which compels them to panic & run towards
        different
        specialists doctors.as a result they end up consuming a whole lot of medicines without a satisfactory result.in
        this
        scenario homeopathy plays an important part which addresses the original problem, as a result those different
        symptoms
        also comes under control & patients get rid of all the troubles.</p>
    <br>
    <h4>Conditions that arises due to Pcod :</h4>
    <br>
    <ol>
        <li>
            <p>Hairfall</p>
        </li>
        <li>
            <p>Hair Thinning</p>
        </li>
        <li>
            <p>Oily scalp & skin</p>
        </li>
        <li>
            <p>Acne & Pimples</p>
        </li>
        <li>
            <p>Skin pigmenations</p>
        </li>
        <li>
            <p>Irregular menstrual cycle</p>
        </li>
        <li>
            <p>Menstrual cramps</p>
        </li>
        <li>
            <p>Scanty menses</p>
        </li>
        <li>
            <p>Facial & body hairs</p>
        </li>
        <li>
            <p>Weight gain</p>
        </li>
        <li>
            <p>Infertility</p>
        </li>
    </ol>
    <br>
    <h4>Causes of Pcod :</h4>
    <br>
    <ol>
        <li>
            <p>Hormonal imbalance</p>
        </li>
        <li>
            <p>Genetic</p>
        </li>
    </ol>
    <br>
    <h4>Top 5 homeopathic Medicines for Pcod :</h4>
    <br>
    <ol>
        <li>
            <p>Apis mel</p>
        </li>
        <li>
            <p>Lachesis</p>
        </li>
        <li>
            <p>Thuja</p>
        </li>
        <li>
            <p>Calcarea carb</p>
        </li>
        <li>
            <p>Ovarinum</p>
        </li>
    </ol>
    <br>
    <h4>Some common questions related to PCOD:</h4>
    <br>
    <div class="pcod-question-cards" style="display: flex; gap: 2rem;">
        <div class="card text-bg-light" style="max-width: 18rem; height: 16rem;">
            <div class="card-header">
                <h5>Can PCOD be cured?</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Pcod is fully curable with Homeopathy Medicines. <a href="/treatment/pcos">Click
                        here</a> to see the proof.
                </p>
            </div>
        </div>

        <div class="card text-bg-light" style="max-width: 18rem; height: 15rem;">
            <div class="card-header">
                <h5>PCOD is caused due to weight gain?</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Infact weight gain is caused due to pcod.
                </p>
            </div>
        </div>

        <div class="card text-bg-light" style="max-width: 18rem; height: 17rem;">
            <div class="card-header">
                <h5>Contraceptive pills can control PCOD?</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Contraceptive pills have no function on ovary. It can only induce anovulatory
                    mentrual cycle
                </p>
            </div>
        </div>
    </div>

    <%}else if(title == 'Hairloss'){%>

    <br>
    <h3 style="text-align: center; font-weight: 600;">Hair loss in men and women, their types, causes, triggering
        factors & homeopathic
        treatments</h3>
    <br>
    <br>
    <h4>Types:</h4>
    <br>
    <p>The medical term for hair loss is Alopecia.Alopecia can be of four types.</p>
    <br>
    <ol>
        <li>Alopecia Areate</li>
        <li>Alopecia Totalis</li>
        <li>Alopecia Universalis</li>
        <li>Androgenic Alopecia</li>
    </ol>
    <br>
    <p>Now in the list the first three are auto immune disorders that means when without any obvious cause our body
        starts to
        produce antibodies to combat antigens of our own body then it starts destructing our own cells.in case of hair &
        scalp
        it starts destroying our very own hair follicles.we need to treat these cases with exact homeopathic medicine.
    </p>
    <br>
    <p>In case of alopecia areata a single or multiple small patches occur in our hair containing areas.most commonly on
        scalp.but it might be anywhere else too. like beard,moustache etc.</p>
    <br>
    <p>In case of alopecia totalis all the hair follicles of our scalp gets destroyed forming a total bald look.</p>
    <br>
    <p>But its not the end.the most dangourous among these three is alopecia universalis.in this condition all the hairs
        of our
        body falls down & forms a total hairless body.</p>
    <br>
    <p>Fortunately The most common type of alopecia is the fourth one of our list.that is androgenic alopecia.It
        accounts for
        about 90 percent among all the alopecias.It’s typically permanent and can be attributed to heredity. now
        androgenic
        alopecia can be of two types.simply in case of male its mpb (male pattern baldness) & in case of female its fpb
        (female
        pattern baldness)</p>
    <br>
    <p>Male pattern baldness has 7 grades according to the amount of lost hair. homeopathy articles by homeopathic
        doctor along
        with proper homeopathic medicine</p>
    <br>
    <p>Similarly female pattern baldness has 3 grades.</p>
    <br>
    <h4>Causes:</h4>
    <br>
    <p>MPB & FPB are typically genetic.there are some triggering factors which determines at which pace the follicles
        will be
        destroyed.now please note why i mention these as triggering factors.typically people call these causes of hair
        loss.but
        scientifically there is only one cause behind hair loss.the name of the cause is DHT. the term DHT might sound
        unfamiliar to you but you must know it from today onwards. full form of DHT is Dihydro Testosterone.</p>
    <br>
    <p>when the testosterone hormone of our body mixes with an enzyme called 5 alfa reductase it forms DHT. now you
        might
        wonder then how females get the condition.so for your knowledge female body also produces small amount of
        testosterone
        though it may primarily be a male sex hormone.that is why the occurance of baldness is much more in males than
        females.</p>
    <br>
    <p>Now when these DHT gets formed it searches for a suitable place in our body to get deposited & unfortunately the
        deposition site is our hair hair follicles.cause DHT has very high affinity towards the hair follicles esp of
        scalp.so
        now you can understand the basic cause of hair loss.</p>
    <br>
    <p>Now we come to the triggering factors which causes the formation of 5 alfa reducta hormone in our body,later on
        which
        gets binded with testosterone to form DHT.</p>
    <br>
    <h4>The Triggering Factors :</h4>
    <br>
    <ol style="gap: 2rem; margin-top: 1rem;">
        <li>
            <p><span>Hormonal changes</span>– thyroid diseases (hypo or hyper),addisons disease, pregnancy, childbirth,
                lactation or
                use of ocp
                (oral contraceptive pills)</p>
        </li>

        <li>
            <p>Medication such as chemotherapy</p>
        </li>

        <li>
            <p>Excessive shampooing, blow-drying, ironing</p>
        </li>

        <li>Permanent hair straightening, smoothening, perming</li>

        <li>Emotional stress</li>

        <li>Nervous habits such as continual hair pulling (trichotilomania) or scalp rubbing</li>

        <li>Burns or radiation therapy​</li>

        <li>Scalp diseases like scalp psoriasis,seborrhic dermatitis,tinea capitis</li>

        <li>Poor nutrition, anaemia, iron deficiency</li>
    </ol>
    <br>
    <h4>Treatment:</h4>
    <br>
    <p>Firstly for the first three types of alopecia that is for alopecia areata, alopecia totalis & alopecia
        universalis there
        are not many choice of treatment lest.only two options are there.</p>
    <br>
    <ol style="gap: 2rem;">
        <li><span>Steroid therapy or injection (fails miserably because it reduces body immunity even more.so you might
                see
                improvement
                innitially but in the later part of treatment even the remaining hairs also falls down).you cant even
                opt
                for hair
                transplant cause the body is already in a destructive mode.so eventually all the transplanted hairs will
                fall off.</span></li>

        <li><span>Homeopathic constitutional treatment that cures the disease by just increasing your body immunity.so
                that
                your body gets
                the required immunity to combat the situation by stopping the production of unnessesary
                antibodies.</span></li>
    </ol>
    <br>
    <p>Now for androgenic alopecia that is mpb & fpb few treatments options are there.but most of them are hoax.there
        are
        options like hair transplant, mesotherapy, stem cell therapy, platelet rich plasma therapy.among all these
        except hair
        transplant all are temporary treatment procedures.only hair transplant can be a permanant solution provided of
        the fact
        your body accepts the transplanted hair follicles and it does not start antigen antibody reaction to fall them
        off.</p>
    <br>
    <p>The most effective alternative to all these hazards is homeopathy.the line of treatment in these case is
        combination of
        two procedure.</p>
    <br>
    <ol>
        <li><span>Constitutional homeopathic medicine to arrest the hair fall & form the base for growing new
                hair.</span></li>

        <li><span>Specific medicine for sure shot hair growth. you can try a product named DMH hair growth serum
                specially preapared by
                Dr.Saha’s Multispeciality Homeopathy to grow new hair from hibernated hair follicles.</span></li>
    </ol>
    <br>
    <p>But please keep that in mind along with the specific medicine constitutional homeopathic medicine is also needed
        to
        permanantly stop your hairfall problem.</p>
    <br>
    <br>
    <h3 style="font-weight: 600;">Regards from team DMH. Have Good hair,Good life.</h3>


    <%}%>
      </div>